#page-content ul.translate-block {
    padding: 0;
    margin: 0;
    list-style: none;

    >li {
        >br {
            display: none;
        }

        >.foldable-list-container {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            padding: 0.5rem;
            line-height: 1;
            z-index: 1;
            background-color: #002B36;
            box-sizing: border-box;
            border: 0.1rem solid #C0CDB0;
            font-size: 0;

            a {
                color: #C0CDB0;
                --wght: bold;
                font-weight: bold;
                text-decoration: none;

                &::after {
                    font-size: 2rem;
                }
                &.lang-tr + .trans-container {
                    --body-font: Inter, "Noto Sans TC", "Noto Sans SC", Arimo, Verdana, Geneva, sans-serif;
                    --header-font: Inter, "Noto Sans TC", "Noto Sans SC", Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
                    --mono-font: Recursive, "Noto Serif TC", "Noto Serif SC", Consolas, monaco, monospace
                }
            }

            &.lang-cn a::after {
                content: "繁";
            }

            &.lang-tr a::after {
                content: "简";
            }
        }
    }

    >li.unfolded>:is(.foldable-list-container:nth-of-type(1), .trans-container:nth-of-type(2)),
    >li.folded>:is(.foldable-list-container:nth-of-type(3), .trans-container:nth-of-type(4)) {
        display: none;
    }
}