.infobox-container {
    float: right;

    min-width: 12rem;
    width: fit-content;
    max-width: 24rem;
    border: 1px solid rgb(var(--etg_accent-color));
    box-sizing: border-box;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;

    .title {
        background-color: rgb(var(--etg_accent-color));
        color: #eee;
        padding: 1rem;
        text-align: center;
        font-size: 1.25rem;
    }

    .img {
        text-align: center;
        padding: 0.75rem 0;

        img {
            min-width: 78px;
            image-rendering: pixelated;
        }
    }

    .properties {
        border: solid rgb(var(--etg_accent-color));
        border-width: 1px 0;
        display: grid;
        grid-template: 1fr / max-content auto;
        grid-column-gap: 2rem;
        padding: 0.75rem;
        font-size: 0.85rem;
        line-height: 1.75;

        .name {
            font-weight: bold;
            position: relative;

            .help {
                cursor: help;
                border-bottom: 1px dotted;
            }

            .note {
                position: absolute;
                font-weight: initial;
                background-color: #fff;
                border: 1px solid rgb(var(--etg_accent-color));
                padding: 0.5rem;
                width: 10rem;
                top: -9999rem;
                left: -11.5rem;
                opacity: 0;
                transition: left 0.2s, opacity 0.15s, top 0s 1s;
            }

            &:hover .note {
                left: -12.5rem;
                top: -100%;
                opacity: 1;
                transition: left 0.2s, opacity 0.5s;
            }
        }

        div[data-title*="{$"] {
            display: none;
        }
    }
}
