@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700;900&display=swap");

body,
textarea {
    font-family: Inter, "Noto Sans SC", "Noto Sans TC";
    font-size: 1rem;
    line-height: 1.5;
}

button {
    font-family: Inter, "Noto Sans SC", "Noto Sans TC";
}

textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

#info {
    background: #002b36;
    color: #f14f49;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#component-wrapper {
    position: relative;
    max-width: 960px;
    width: 100%;

    p {
        margin: 0;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;

    .encoder,
    .decoder {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}
