@charset "UTF-8";
html {
    scroll-behavior: smooth;
}

#u-hand:target ~ table tr:nth-of-type(1) ~ tr:not([data-title=拳掌]),
#u-sword:target ~ table tr:nth-of-type(1) ~ tr:not([data-title=剑]),
#u-knife:target ~ table tr:nth-of-type(1) ~ tr:not([data-title=刀]),
#u-spear:target ~ table tr:nth-of-type(1) ~ tr:not([data-title=枪]),
#u-rod:target ~ table tr:nth-of-type(1) ~ tr:not([data-title=棍]) {
    display: none;
}

table.item-table {
    width: 100%;
    position: relative;
}
table.item-table tr:nth-of-type(1) {
    position: sticky;
    top: 0;
}
table.item-table tr:nth-of-type(2), table.item-table tr:nth-of-type(3) {
    display: none;
}
table.item-table tr:nth-of-type(odd) {
    background-color: initial;
}
table.item-table tr:nth-of-type(4n+2), table.item-table tr:nth-of-type(4n+3) {
    background-color: rgba(var(--ha_secondary-black-color), 0.2);
}
table.item-table tr:hover, table.item-table tr:is(:nth-of-type(4n), :nth-of-type(4n+2)):hover + tr, table.item-table tr:is(:nth-of-type(4n), :nth-of-type(4n+2)):has(+ tr:hover) {
    background-color: rgba(var(--ha_secondary-black-color), 0.4);
}
table.item-table tr th {
    white-space: nowrap;
}
table.item-table tr td {
    width: min-content;
}
table.item-table tr td:nth-of-type(1), table.item-table tr td:nth-of-type(3), table.item-table tr td:nth-of-type(7) {
    text-align: center;
    white-space: nowrap;
}
table.item-table tr td:nth-of-type(2) {
    padding: 0;
}
table.item-table tr td .table {
    display: grid;
    grid-template-columns: auto minmax(7.5rem, 1fr);
    grid-column-gap: 0.5rem;
}
table.item-table tr td .table span {
    width: 100%;
}
table.item-table tr td .table span.name {
    white-space: nowrap;
    font-weight: bold;
}
table.item-table tr td .table > br {
    display: none;
}
table.item-table tr td .table[data-title*=name1] .name:nth-of-type(1), table.item-table tr td .table[data-title*=name2] .name:nth-of-type(3), table.item-table tr td .table[data-title*=name3] .name:nth-of-type(5), table.item-table tr td .table[data-title*=name4] .name:nth-of-type(7), table.item-table tr td .table[data-title*=description1] .description:nth-of-type(2), table.item-table tr td .table[data-title*=description2] .description:nth-of-type(4), table.item-table tr td .table[data-title*=description3] .description:nth-of-type(6), table.item-table tr td .table[data-title*=description4] .description:nth-of-type(8) {
    display: none;
}
table.item-table tr td[class*=rarity] {
    text-align: center;
}
table.item-table tr td[class*=rarity] img {
    box-sizing: border-box;
    border: 4px solid var(--rarity-color);
    border-radius: 4px;
    min-width: 4.5rem;
    margin-top: 0.5rem;
}
table.item-table tr td.rarity-0 {
    --rarity-color: #7DC447;
}
table.item-table tr td.rarity-1 {
    --rarity-color: #2CB9D8;
}
table.item-table tr td.rarity-2 {
    --rarity-color: #AF5FD2;
}
table.item-table tr td.rarity-3 {
    --rarity-color: #D67B28;
}
table.item-table tr td[data-title*="$obtain"], table.item-table tr td[data-title*="$craft"] {
    font-size: 0;
}
table.item-table tr.anchor td {
    padding: 0;
    position: relative;
    top: -2rem;
}
table.item-table tr.anchor + tr,
table.item-table tr.anchor + tr + tr,
table.item-table tr.anchor + tr + tr + tr {
    display: none;
}