/* Dark Mode */
:root {
    --bg-image: url("http://backrooms-wiki.wdfiles.com/local--files/level-1/artistlivesinme.jpg");

    --bg-color: #23241D;
    --bg-color-2: #23241D;
    --bg-color-3: #4C4C4C;
    --bg-color-3-trans: #4C4C4C19;
    --bg-color-3-trans-2: #4C4C4C99;
    --bg-color-5: #FBE7B5;
    --link-color: #AA9956;
    --link-color-trans: #AA995619;
    --link-color-trans-2: #AA995699;
    --link-hover-color: #CCC199;
    --link-newpage-color: #F2001D;
    --black-color: #FFFFFF;
    --black-color-trans: #FFFFFF19;
    --white-color: #000000;
    --text-color: #E6E6E6;
    --text-color-trans: #E6E6E699;
    --border-color: #5B5B5B;

    --header-text-color: #A4AF8F;
    --header-text-hover-color: #717D59;

    --fd-sidebar-bg-color: #1E0C1B;
    --fd-sidebar-bg-color-2: #291927;
    --fd-sidebar-bg-color-3: #595358;
    --fd-sidebar-bg-color-3-trans: #59535880;
    --fd-sidebar-link-color: #FFC500;
    --fd-sidebar-link-color-trans: #FFC5007F;
    --fd-sidebar-link-hover-color: #997600;
    --fd-sidebar-link-color-2: var(--fd-sidebar-link-color);
    --fd-sidebar-link-color-2-trans: #FFC50019;
    --fd-sidebar-text-color: #F5F3F5;
    --fd-sidebar-text-color-trans: #F5F3F57F;
    --fd-sidebar-text-hover-color: var(--fd-sidebar-link-hover-color);

    --fd-footer-bg-color-2: var(--white-color);
    --fd-footer-text-color: var(--black-color);
}

#extra-div-2 {
    opacity: 21%;
}

#top-bar .top-bar>ul>li ul li a {
    color: var(--text-color);
}

.fakeSide .fakeGameBtn,
.fakeSide .fakeMovieBtn,
.fakeSide .fakeTVBtn,
.fakeSide .fakeWikiBtn,
.fakeSide .fakeCreateSite {
    color: var(--fd-sidebar-text-color);
}

.fakeSide .fakeCreateSite::before {
    border-color: var(--fd-sidebar-text-color);
}

#login-status>a[href*="messages"]::before {
    color: var(--fd-sidebar-text-color);
}

#login-status>a[href*="messages"]>strong {
    background-color: var(--fd-sidebar-text-color);
}

#login-status .printuser a img {
    border-color: var(--fd-sidebar-text-color);
}

#login-status #account-topbutton:hover+#account-options::before,
#login-status>a[href*="messages"]:hover::after,
#login-status #account-options:hover::before {
    border-color: var(--fd-sidebar-text-color-trans);
}

#toc #toc-list {
    background-color: var(--bg-color-2);
}

.toolBar>.list-pages-box:nth-of-type(1) p {
    color: var(--header-text-color);
}

.toolBar>.list-pages-box:nth-of-type(2) {
    display: none;
}

.toolBar .fakeSearchBtn,
.toolBar .fakeDiscussBtn,
.toolBar .fakeRecentBtn,
.toolBar .fakeLightBtn,
.toolBar .fakeMoreBtn {
    border-color: var(--header-text-color);
    color: var(--header-text-color);
}

.toolBar .fakeLightBtn::before {
    content: "\f185";
}