/*
    Oblivion Theme
    [2023 Wikidot Theme]
    by hoah2333
        Based on Bedrock theme by EstrellaYoshte
*/

/* Import Bedrock theme */
@import url("https://basalt-team.github.io/Basalt/normalize-min.css");
@import url("https://basalt-team.github.io/Basalt/basalt-bedrock-min.css");

/* ----------------- */
/* --- Variables --- */
/* ----------------- */

:root {
    --basalt-primary-color: 220, 218, 219;
    --basalt-secondary-color: 97, 98, 100;
    --basalt-undertone: 141, 191, 223;

    --header-logo: none;
    --header-title: "Oblivion       \AOverride";
    --header-subtitle: "Welcome to Oblivion Override official wiki";
    --header-subtitle-color: var(--basalt-main-text-color);
    --title-size: 3.5rem;
    --subtitle-size: 1rem;
    --base-header-height: calc((var(--title-size) * 2 + var(--subtitle-size)) *1.325 + 1rem + var(--search-button-width));
    --header-mobile-height: var(--header-desktop-height);
    --search-icon-color: var(--basalt-main-text-color);
    --search-background-color: var(--basalt-UI-dark-palette);
    --login-status-text-color-hover: var(--basalt-main-text-color);

    --side-bar-button-width: 1rem;
}

/* -------------- */
/* --- Header --- */
/* -------------- */

#header {
    position: relative;
    background-color: transparent;
    grid-template-areas:
        "user . h-link h-link"
        ". . h-link h-link"
        ". . . search";
    grid-template-columns: var(--user-button-width) 1fr max-content var(--search-button-width);
    grid-template-rows: var(--user-button-width) max-content var(--search-button-width);
}

#header h1 a {
    padding-right: calc(var(--base-header-height) * .05);
}

#header h1 a::before {
    display: none;
}

#header h1 a span {
    align-items: flex-end;
    text-align: right;
}

#header h1 a span::before {
    white-space: pre;
}

/* --- Topbar --- */
/* Not used for now */

#top-bar {
    display: none;
}

/* --- Login status --- */

div#account-options {
    inset-inline-start: 0;
}

#account-options,
:where(#login-status)> :is(.login-status-create-account, .login-status-sign-in) {
    clip-path: inset(0 100% 0 0);
}

div#account-options>ul>li>a:is(:hover, :focus) {
    transition: color var(--header-link-transition-1st);
}

div#account-options>ul>li>a::before,
#login-status a:is(.login-status-create-account, .login-status-sign-in)::before {
    right: initial;
    left: 0;
}

/* --- Search --- */

#search-top-box {
    top: 2rem;
}

#search-top-box::before {
    background-color: rgb(var(--search-background-color));
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#side-bar {
    margin-top: 0;
    height: 100vh;
}

#side-bar::before {
    display: none;
}

#side-bar::after {
    top: calc(50vh - 6.4rem);
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("https://scp-wiki.wdfiles.com/local--files/component%3Acollapsible-sidebar/sidebar-tab.svg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: left var(--side-bar-transition);
}

#side-bar:is(:hover, :focus-within)::after {
    left: -5rem;
}

:root {
    --side-bar-button-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE2IDIwNiI+PHRpdGxlPnNpZGViYXItdGFiPC90aXRsZT48cGF0aCBkPSJNLjUsMjA1LjVWLjVINmM1LjcsMCw5LjUsMy44LDkuNSw5LjVWMTk2YzAsNS44LTMuNyw5LjUtOS41LDkuNVoiIGZpbGw9IiM0MzQzNDgiLz48cGF0aCBkPSJNNiwxYzUuNSwwLDksMy41LDksOVYxOTZjMCw1LjUtMy41LDktOSw5SDFWMUg2TTYsMEgwVjIwNkg2YzYsMCwxMC00LDEwLTEwVjEwQzE2LDQsMTIsMCw2LDBaIiBmaWxsPSIjMTYxNjE2Ii8+PHBvbHlnb24gcG9pbnRzPSIxMyAxMDAgOCAxMDAgOCA5OCAzIDEwMiA4IDEwNiA4IDEwNCAxMyAxMDQgMTMgMTAwIiBmaWxsPSIjZmRmZWZlIi8+PHBvbHlnb24gcG9pbnRzPSIxMyA0MCA4IDQwIDggMzggMyA0MiA4IDQ2IDggNDQgMTMgNDQgMTMgNDAiIGZpbGw9IiNmZGZlZmUiLz48cG9seWdvbiBwb2ludHM9IjEzIDE2MCA4IDE2MCA4IDE1OCAzIDE2MiA4IDE2NiA4IDE2NCAxMyAxNjQgMTMgMTYwIiBmaWxsPSIjZmRmZWZlIi8+PC9zdmc+");
}