/*
    Hero's Adventure Theme
    [2023 Wikidot Theme]
    by hoah2333
        Based on Sigma 10 theme, maintained by EN SCP Wiki Technical Team
        Based on Sigma 9 theme, created by Aelenna, edited by Dr Devan
        Using Sigma+ by EstrellaYoshte
*/

/* 引用版式 - Sigma-10 */
@import url("https://cdn.scpwiki.com/theme/en/sigma/css/sigma.min.css");

/* 引用组件 - Sigma+ */
@import url("https://scp-wiki.wdfiles.com/local--code/component%3Asigma-plus/1");

/* 引用经 base64 转义后的图片 */
@import url("./image.css");

/* 引用字体 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap');

@each $weight,
$name in (100, Light),
(300, Medium),
(500, Regular),
(700, Bold),
(900, Heavy) {
    @font-face {
        font-family: "PuHuiTi";
        font-style: normal;
        font-weight: #{$weight};
        font-display: swap;
        src: url("./fonts/Alibaba-PuHuiTi-#{$name}.ttf") format("truetype");
    }
}

:root {
    --header-font: "PuHuiTi", "Microsoft YaHei UI", "微软雅黑", "黑体", "Heiti SC", "Microsoft JhengHei UI", "Microsoft JhengHei", Geneva, sans-serif, STXihei, "华文细黑";
    --body-font: var(--header-font);
    --mono-font: Recursive, "Noto Serif SC", "Noto Serif TC", "宋体", "SimSun", "Microsoft YaHei UI", "微软雅黑", "Microsoft JhengHei UI", "Microsoft JhengHei", "Courier New", Courier, monospace, STXihei, "华文细黑";

    --header-title: "";
    --sp_header-logo: var(--logo-image); // 版头图片
    --sp_header-logo-size: 30rem;
    --sp_header-height: 7.25rem;
    --sp_top-bar-height: 3.125rem;

    --ha_white-color: 252, 252, 252;
    --ha_black-color: 0, 0, 0;
    --ha_secondary-black-color: 91, 79, 62;
    --ha_yellow-color: 243, 196, 10;
    --ha_brown-color: 41, 37, 35;
    --ha_secondary-brown-color: 36, 32, 28;
    --ha_link-color: 198, 178, 134;
    --ha_visited-link-color: 176, 160, 124;
    --ha_text-color: 240, 224, 188;
    --ha_border-color: 85, 74, 59;
    --ha_secondary-border-color: 74, 56, 17;

    --ha_top-bar-text-color: var(--ha_black-color);
    --ha_top-bar-text-hover-color: var(--ha_secondary-black-color);
    --ha_top-bar-link-color: var(--ha_link-color);
    --ha_top-bar-link-hover-color: var(--ha_black-color);
    --ha_top-bar-border-color: var(--ha_secondary-border-color);
}

body {
    font-family: var(--body-font);
    color: rgb(var(--ha_text-color));
    font-feature-settings: "salt", "ss01", "ss02";
    font-size: 1rem;
}

body,
li,
p {
    line-height: 1.5;
}

code,
.code,
.code pre,
.code p,
tt {
    font-family: var(--mono-font);
    font-size: inherit;
}

sub,
sup {
    position: relative;
    font-size: 0.775rem;
}

sup {
    top: -0.625rem;
}

sub {
    bottom: -0.625rem;
}

img,
table,
iframe {
    max-width: 100%;
}

a {
    color: rgb(var(--ha_link-color));
    text-decoration: underline;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:is(:hover, :focus) {
        color: rgb(var(--ha_text-color));
        transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:visited {
        color: rgb(var(--ha_visited-link-color));
    }

    &.newpage {
        text-decoration: underline;
    }
}

#page-title,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(var(--ha_link-color));
    font-weight: bold;
    font-family: var(--header-font);
    margin: 0.325rem 0;
    line-height: 1.25;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.325rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1rem;
}

hr {
    margin: 0.5rem 0;
    height: 0.125rem;
    color: inherit;
    background-color: transparent;
    border-top: 0.125rem solid rgb(var(--ha_border-color));

    .fancyhr & { 
        margin: 0;
        height: 1rem;
        border: none;
        border-image-source: var(--fancyhr-image);
        border-image-slice: calc(6 / 13 * 100%) calc(16 / 198 * 100%) fill;
        border-image-width: 0.5rem 1.3rem;
    }
}

div#container-wrap {
    background-image:
        var(--bg-image),
        linear-gradient(90deg,
            #24201C 0%,
            #24201C calc(302 / 1920 * 100%),
            #25221C calc(362 / 1920 * 100%),
            #26221D calc(416 / 1920 * 100%),
            #26231D calc(443 / 1920 * 100%),
            #27231D calc(476 / 1920 * 100%),
            #29241E calc(494 / 1920 * 100%),
            #2A241E calc(522 / 1920 * 100%),
            #2B251E calc(536 / 1920 * 100%),
            #2B261F calc(557 / 1920 * 100%),
            #2C261F calc(569 / 1920 * 100%),
            #2C271F calc(590 / 1920 * 100%),
            #2E2720 calc(602 / 1920 * 100%),
            #2F2920 calc(620 / 1920 * 100%),
            #312920 calc(629 / 1920 * 100%),
            #342D25 calc(647 / 1920 * 100%),
            #352E25 calc(656 / 1920 * 100%),
            #362E25 calc(674 / 1920 * 100%),
            #372F25 calc(683 / 1920 * 100%),
            #392F26 calc(698 / 1920 * 100%),
            #393126 calc(710 / 1920 * 100%),
            #3A3126 calc(725 / 1920 * 100%),
            #3B3227 calc(734 / 1920 * 100%),
            #3C3327 calc(749 / 1920 * 100%),
            #3D3327 calc(761 / 1920 * 100%),
            #3D3429 calc(776 / 1920 * 100%),
            #3E3429 calc(788 / 1920 * 100%),
            #3F3529 calc(803 / 1920 * 100%),
            #40352A calc(809 / 1920 * 100%),
            #3E3327 calc(815 / 1920 * 100%),
            #3F3427 calc(830 / 1920 * 100%),
            #3F3527 calc(842 / 1920 * 100%),
            #403529 calc(860 / 1920 * 100%),
            #423629 calc(875 / 1920 * 100%),
            #433629 calc(896 / 1920 * 100%),
            #44372A calc(938 / 1920 * 100%),
            #45392A calc(959 / 1920 * 100%),
            #463A2B calc(1004 / 1920 * 100%),
            #473A2B calc(1103 / 1920 * 100%),
            #463A2B calc(1148 / 1920 * 100%),
            #45392A calc(1169 / 1920 * 100%),
            #44372A calc(1211 / 1920 * 100%),
            #433629 calc(1232 / 1920 * 100%),
            #423629 calc(1247 / 1920 * 100%),
            #403529 calc(1265 / 1920 * 100%),
            #3F3527 calc(1277 / 1920 * 100%),
            #3F3427 calc(1292 / 1920 * 100%),
            #3E3327 calc(1304 / 1920 * 100%),
            #3D3326 calc(1319 / 1920 * 100%),
            #3C3226 calc(1331 / 1920 * 100%),
            #3B3226 calc(1346 / 1920 * 100%),
            #3B3125 calc(1358 / 1920 * 100%),
            #3A3125 calc(1373 / 1920 * 100%),
            #392F25 calc(1382 / 1920 * 100%),
            #372E24 calc(1397 / 1920 * 100%),
            #362E24 calc(1409 / 1920 * 100%),
            #362D24 calc(1424 / 1920 * 100%),
            #352D23 calc(1433 / 1920 * 100%),
            #342C23 calc(1451 / 1920 * 100%),
            #332C23 calc(1460 / 1920 * 100%),
            #322B23 calc(1478 / 1920 * 100%),
            #322A22 calc(1487 / 1920 * 100%),
            #312A22 calc(1505 / 1920 * 100%),
            /*  #2F2922 calc(1517 / 1920 * 100%),
            #2E2920 calc(1538 / 1920 * 100%),
            #2D2720 calc(1550 / 1920 * 100%),
            #2C2720 calc(1571 / 1920 * 100%),
            #2C261F calc(1577 / 1920 * 100%),
            #332D25 calc(1586 / 1920 * 100%),
            #322C25 calc(1613 / 1920 * 100%),
            #312C25 calc(1631 / 1920 * 100%),   */
            #2F2B24 calc(1664 / 1920 * 100%),
            #2E2B24 calc(1691 / 1920 * 100%),
            #2E2A24 calc(1745 / 1920 * 100%),
            #2D2A23 calc(1805 / 1920 * 100%),
            #2C2923 100%);
    background-position: top center;
}

#header {
    background-image: none;
    grid-template-areas:
        ". login login ."
        ". . . ."
        ". h1 h1 ."
        ". h2 h2 ."
        ". . . ."
        ". top-bar top-bar search";
    grid-template-rows: auto auto 1fr auto auto auto;

    &::before {
        margin: 0 auto;
    }

    h1 {
        width: 100%;
        height: 100%;
        padding-inline-start: 0;

        a {
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }
}

#search-top-box {
    position: relative;
    right: 6rem;
    width: auto;
    z-index: 1;

    &-form {
        height: 100%;

        input[type=submit] {
            font-size: 1rem;
            border-radius: 0;
            color: rgb(var(--ha_top-bar-text-color));
            border: none;
            background-color: transparent;
            box-shadow: none;
            padding: 0.125rem 0.375rem 0.125rem 2rem;
            background-image: var(--search-button-bg-image);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 95%;
            margin: auto 0;
            filter: brightness(1);
            transition: filter 0.25s cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                border: none;
                color: rgba(var(--ha_top-bar-text-color), 0.7);
                background-color: transparent;
                box-shadow: none;
                text-shadow: none;
                background-image: var(--search-button-bg-image);
                filter: brightness(0.92);
                transition: filter 0.25s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
}

#top-bar {
    background-image: url("");
    font-size: 1rem;
    border-image-source: var(--top-bar-bg-image);
    border-image-slice: calc(14 / 51 * 100%) calc(13 / 950 * 100%) fill;
    border-image-width: 0.875rem;

    &>div[class*="top-bar"] {
        margin-right: 5rem;

        &>ul {
            justify-content: start;
        }
    }

    :is(.top-bar, .mobile-top-bar) {
        &>ul {
            &>li {
                &>a {
                    color: rgb(var(--ha_top-bar-text-color));
                    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

                    &.dropdown-toggle::after {
                        content: "";
                        background-image: var(--top-bar-dropdown-image);
                        width: 0.6875rem;
                        height: 0.5rem;
                        margin-left: 0.5rem;
                    }
                }

                &>a:is(:hover, :focus),
                &:is(.sfhover, :hover, :focus-within)>a {
                    color: rgba(var(--ha_top-bar-text-color), 0.5);
                    background-color: transparent;
                    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
        }

        ul {
            li {
                ul {
                    inset-inline-start: -50%;
                    background-color: transparent;
                    box-shadow: none;
                    border-image-source: var(--top-bar-dropdown-bg-image);
                    border-image-slice: calc(2 / 261 * 100%) calc(2 / 106 * 100%) fill;
                    border-image-width: 0.125rem;
                    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

                    li {
                        a {
                            position: relative;
                            color: rgb(var(--ha_top-bar-link-color));
                            border: none;
                            margin: 0.5rem 0;
                            transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                z-index: -1;
                                border-image-source: var(--top-bar-dropdown-hover-bg-image);
                                border-image-slice: 0 calc(14 / 91 * 100%) fill;
                                border-image-width: 0 1rem;
                                transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                            }
                        }

                        a:is(:hover, :focus),
                        &:is(.sfhover, :hover, :focus-within) a {
                            color: rgb(var(--ha_top-bar-link-hover-color));
                            background-color: transparent;

                            &::before {
                                opacity: 1;
                                transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 没有侧边栏的需求 */
#side-bar {
    display: none;
}

/* 主页面 */
#main-content {
    padding: 0.625rem;
    box-sizing: border-box;
    border-image-source: var(--main-content-bg-image);
    border-image-slice: calc(21 / 56 * 100%) calc(21 / 953 * 100%) fill;
    border-image-width: 1.25rem;
}

#page-title,
.meta-title {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 2.325rem;
    line-height: normal;
    border-bottom: solid 0.125rem rgb(var(--ha_border-color));
    padding: 0.125rem 0;
    margin: 0;
}

.meta-title>p {
    margin: 0;
}

:is(blockquote, .blockquote, div.blockquote, [class*="blockquote"]) {
    border: none;
    background-color: transparent;
    position: relative;
    margin: 0.5rem 1rem 0;
    padding: 0.75rem 1rem;
    clear: both;
    border: none;
    border-image-source: var(--blockquote-bg-image);
    border-image-slice: calc(14 / 256 * 100%) calc(14 / 344 * 100%) fill;
    border-image-width: 0.875rem;

    &:is(:first-child, :only-child) {
        margin-top: 0;
    }

    &:last-child:not(:only-child) {
        margin-bottom: 1em;
    }

    @supports (display: flow-root) {
        display: flow-root;
    }
}