/*
    Oblivion Override Main Page CSS
    by hoah2333
*/

#page-title {
    display: none;
}

#page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .navigator-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .navigator {
            position: relative;
            display: flex;
            height: 2rem;
            width: calc(var(--main-content-width) / 3 - 3rem);
            background-color: #A5ACB2;
            align-items: center;
            justify-content: center;
            text-align: center;
            
            .nav-menu {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 0;
                top: 32.2px;
                width: 10rem;
                background-color: #FEFEFE;
                clip-path: inset(0 -10rem 100% 0);
                transition: clip-path .15s ease .05s;
                
                br {
                    display: none;
                }
                .nav-submenu {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    left: 10rem;
                    top: 0;
                    background-color: #FEFEFE;
                    width: 10rem;
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path .15s ease .05s;
                }
                span {
                    width: 10rem;
                }
                span:hover + .nav-submenu,
                .nav-submenu:is(:hover, :focus-within) {
                    clip-path: inset(0 0 -10rem 0);
                }
            }
            &:is(:hover, :focus-within) .nav-menu {
                clip-path: inset(0 -10rem -24.2px 0);
            }
        }
    }
    
    .intro-container {
        display: grid;
        grid-template-areas:
            "intro intro intro intro intro"
            ". . . . .";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: max-content 1fr;
        grid-column-gap: 0.75rem;
        
        .intro {
            grid-area: intro;
            display: flex;
            background-color: #FFFFFF99;
            padding: 1rem;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .media {
            display: flex;
            background-color: #FFFFFF99;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    
    .menu-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(100% / 3);
        column-gap: 3rem;
        background-color: #FFFFFF;
        align-items: center;
        padding: 1rem 2rem;
        
        .item {
            width: calc(100% / 3 - 2rem);
        }
    }
    
    .announce-container {
        display: grid;
        grid-template-areas: 
            "blog blog"
            "feature video";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        
        .container {
            width: 100%;
            
            .title {
                background-color: #8CBEDE;
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            &.blog {
                grid-area: blog;
            }
            &.feature {
                grid-area: feature;
            }
            &.video {
                grid-area: video;
            }
        }
    }
}