/*
    Oblivion Override Main Page CSS
    by hoah2333
*/
#page-title {
    display: none;
}

#page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#page-content .navigator-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-content .navigator-container .navigator {
    position: relative;
    display: flex;
    height: 2rem;
    width: calc(var(--main-content-width) / 3 - 3rem);
    background-color: rgba(var(--basalt-bright-element-color), 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

#page-content
    .navigator-container
    :is(.navigator, .navigator .nav-menu > div, .navigator .nav-menu .nav-submenu span)
    > a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(var(--basalt-light-text-color));
    z-index: 2;
}

#page-content
    .navigator-container
    :is(.navigator, .navigator .nav-menu > div, .navigator .nav-menu .nav-submenu span)
    > a:is(:hover, :focus) {
    text-decoration: none;
}

#page-content
    .navigator-container
    :is(.navigator, .navigator .nav-menu > div, .navigator .nav-menu .nav-submenu span)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(var(--basalt-dark-element-color), 0.9);
    transition: width 0.15s ease 0.05s;
}

#page-content
    .navigator-container
    :is(.navigator, .navigator .nav-menu > div, .navigator .nav-menu .nav-submenu span):is(
        :hover,
        :focus,
        :focus-within
    )::before {
    width: 100%;
}

#page-content .navigator-container .navigator .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 100%;
    width: calc(var(--main-content-width) / 6 - 1.5rem + 0.125rem);
    background-color: rgba(var(--basalt-bright-element-color), 0.9);
    color: rgb(var(--basalt-light-text-color));
    border-left: 0.25rem solid rgba(var(--basalt-dark-element-color), 0.9);
    box-sizing: border-box;
    clip-path: inset(0 -10rem 100% 0);
    transition: clip-path 0.15s ease 0.05s;
}

#page-content .navigator-container .navigator .nav-menu br {
    display: none;
}

#page-content .navigator-container .navigator .nav-menu .nav-submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100%;
    top: 0;
    background-color: rgba(var(--basalt-bright-element-color), 0.9);
    color: rgb(var(--basalt-light-text-color));
    border-left: 0.25rem solid rgba(var(--basalt-dark-element-color), 0.9);
    box-sizing: border-box;
    width: calc(var(--main-content-width) / 6 - 1.5rem);
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.15s ease 0.05s;
}

#page-content .navigator-container .navigator :is(.nav-menu > div, .nav-menu .nav-submenu span) {
    width: 100%;
    position: relative;
}

#page-content .navigator-container .navigator .nav-menu > div:is(:hover, :focus, :focus-within) .nav-submenu,
#page-content .navigator-container .navigator .nav-menu .nav-submenu:is(:hover, :focus, :focus-within) {
    clip-path: inset(0 0 -100% 0);
}

#page-content .navigator-container .navigator:is(:hover, :focus-within) .nav-menu {
    clip-path: inset(0 -100% -40rem 0);
}

#page-content .intro-container {
    display: grid;
    grid-template-areas:
        "intro intro intro intro intro"
        ". . . . .";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content 1fr;
    grid-column-gap: 0.75rem;
}

#page-content .intro-container .intro {
    grid-area: intro;
    display: flex;
    background-color: rgba(var(--basalt-bright-element-color), 0.3);
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page-content .intro-container .media {
    display: flex;
    background-color: rgba(var(--basalt-bright-element-color), 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: min-content;
    transition: margin 0.15s ease 0.05s;
    margin-bottom: 1rem;
}

#page-content .intro-container .media:is(:hover, :focus, :focus-within) {
    margin-bottom: 0;
}

#page-content .intro-container .media a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(var(--basalt-light-text-color));
    padding: 0.5rem 0;
    transition: padding 0.15s ease 0.05s;
}

#page-content .intro-container .media a:is(:hover, :focus, :focus-within) {
    text-decoration: none;
    padding: 1rem 0;
}

#page-content .menu-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
    column-gap: 3rem;
    row-gap: 1rem;
    background-color: rgba(var(--basalt-secondary-color), 0.9);
    align-items: center;
    padding: 1rem 2rem;
}

#page-content .menu-container .item {
    width: calc(100% / 3 - 2rem);
}

#page-content .menu-container .item a {
    color: rgb(var(--basalt-main-text-color));
}

#page-content .menu-container .item a:is(:hover, :focus, :focus-within) {
    text-decoration: none;
}

#page-content .announce-container {
    display: grid;
    grid-template-areas:
        "blog blog"
        "feature video";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

#page-content .announce-container .container {
    width: 100%;
}

#page-content .announce-container .container .title {
    background-color: rgba(var(--basalt-secondary-color), 0.9);
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page-content .announce-container .container.blog {
    grid-area: blog;
}

#page-content .announce-container .container.feature {
    grid-area: feature;
}

#page-content .announce-container .container.video {
    grid-area: video;
}
