/*
    Enter the Gungeon Theme
    [2024 Wikidot Theme]
    by hoah2333
        Based on Sigma 10 theme, maintained by EN SCP Wiki Technical Team
        Based on Sigma 9 theme, created by Aelenna, edited by Dr Devan
        Using Sigma+ by EstrellaYoshte
*/

/* 引用版式 - Sigma-10 */
@import url("https://cdn.scpwiki.com/theme/en/sigma/css/sigma.min.css");

/* 引用组件 - Sigma+ */
@import url("https://scp-wiki.wdfiles.com/local--code/component%3Asigma-plus/1");

/* 引用组件 - 切换侧边栏 */
@import url("https://scp-wiki-cn.wdfiles.com/local--code/component%3Atoggle-sidebar/1");

/* 引用字体 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap");

:root {
    --header-title: "挺进地牢图鉴";

    --sp_header-logo: url("none");
    --sp_area-max-width: 85.5rem;
    --sp_header-height: 5rem;

    --etg_body-font: Inter, "Noto Sans SC", "Noto Sans TC", "Microsoft YaHei UI", "微软雅黑", "黑体", "Heiti SC",
        "Microsoft JhengHei UI", "Microsoft JhengHei", Geneva, sans-serif, STXihei, "华文细黑";
    --etg_header-font: var(--etg_body-font);
    --etg_mono-font: Recursive, "Noto Serif SC", "Noto Serif TC", "宋体", "SimSun", "Microsoft YaHei UI", "微软雅黑",
        "Microsoft JhengHei UI", "Microsoft JhengHei", "Courier New", Courier, monospace, STXihei, "华文细黑";
    --etg_text-color: 20, 20, 30;
    --etg_link-color: 70, 150, 155;
    --etg_link-visited-color: 50, 130, 130;
    --etg_link-hover-color: 0, 40, 40;
    --etg_link-new-color: 100, 170, 180;
    --etg_main-background-color: 30, 30, 30;
    --etg_border-color: 250, 240, 210;
    --etg_border-color-dark: 114, 40, 51;
    --etg_bg-color: 240, 235, 230;
    --etg_accent-color: 62, 25, 36;
}

:root {
    --wght: 400;
    --ui-wght: 500;
    --ui-hvr-wght: 500;
    --ital: 0;

    --mono-wght: 350;
    --slnt: 0;
    --CASL: 0;
    --CRSV: 0;
    --MONO: 1;

    --lnum: 1;
    --pnum: 1;
    --kern: 1;
    --cpsp: 1;
    --liga: 1;
    --case: 1;
    --clig: 1;
    --dlig: 0;
    --calt: 1;
    --aalt: 0;

    --ss01: 1;
    --ss02: 0;
    --ss03: 1;
    --ss04: 1;
    --zero: 1;
    --cv11: 0;
}

*,
*::before,
*::after {
    font-kerning: auto;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: var(--wght, revert);

    @supports (font-variation-settings: inherit) {
        font-variation-settings: "ital" var(--ital, 0), "slnt" var(--slnt, 0), "CASL" var(--CASL, 0),
            "CRSV" var(--CRSV, 0), "MONO" var(--MONO, 0), "FLAR" var(--FLAR, 0);
    }

    @supports (font-feature-settings: inherit) {
        font-feature-settings: "lnum" var(--lnum, 1), "pnum" var(--pnum, 1), "kern" var(--kern, 1),
            "cpsp" var(--cpsp, 1), "liga" var(--liga, 1), "case" var(--case, 1), "clig" var(--clig, 1),
            "dlig" var(--dlig, 0), "calt" var(--calt, 1), "aalt" var(--aalt, 0), "ss01" var(--ss01, 1),
            "ss02" var(--ss02, 0), "ss03" var(--ss03, 1), "ss04" var(--ss04, 1), "zero" var(--zero, 1),
            "cv11" var(--cv11, 0);
    }
}

body {
    color: rgb(var(--etg_text-color));
    background-color: rgb(var(--etg_main-background-color));
    font-family: var(--etg_body-font);

    .bold,
    b,
    strong {
        &,
        & * {
            --wght: 700;
            --mono-wght: calc(var(--wght) - 50);
        }
    }

    .italic,
    em,
    i {
        &,
        & * {
            --ital: 1;
            --slnt: -15;
        }
    }
}

@each $weight in 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100 {
    [style*="weight: #{$weight}"],
    [style*="weight:#{$weight}"] {
        &,
        & * {
            --wght: #{$weight};
            font-weight: var(--wght);
            --mono-wght: calc(var(--wght) - 50);
        }
    }
}

[style*="italic"],
[style*="oblique"] {
    &,
    & * {
        --ital: 1;
        --slnt: -15;
    }
}

#container {
    display: grid;
    grid-template-areas: "header header" "content content" "footer license";
}

#content-wrap {
    grid-area: content;
    column-gap: 0.75rem;
    border-radius: 4px;
    height: calc(100vh - var(--sp_final-header-height) - 0.5rem - 34px);
    background-color: rgb(var(--etg_bg-color));
    overflow-y: scroll;
    margin: 0.5rem auto 0;
}

#extrac-div-1 {
    position: absolute;
    width: calc(100% - var(--sp_area-min-margin) * 2 + 1rem);
    max-width: calc(var(--sp_area-max-width) + 1rem);
    margin: auto;
    left: max(calc((100vw - var(--sp_area-max-width)) / 2 - 0.625rem), var(--sp_area-min-margin) - 0.5rem);
    height: calc(100vh - var(--sp_final-header-height) - 0.5rem - 34px + 1rem);
    top: calc(var(--sp_final-header-height));
    background-color: rgb(var(--etg_accent-color));
    border: 5px groove rgb(var(--etg_border-color-dark));
    box-sizing: border-box;
    border-radius: 10px;
    z-index: -1;
}

#header {
    grid-area: header;
    background-image: none;

    &::before {
        display: none;
    }

    h1 {
        padding-inline-start: 0;
        margin: auto;

        a {
            font-family: rgb(var(--etg_header-font));
            color: #fff;

            &:visited {
                color: #fff;
            }
        }
    }

    h2 {
        display: none;
    }
}

#top-bar {
    background-image: none;
    background-color: transparent;
    position: absolute;
    top: calc(100vh - 76px - 10rem);
}

#footer {
    grid-area: footer;
    background-color: rgb(var(--etg_accent-color));
    width: 100%;
    padding: 0;
    justify-content: flex-end;
}

#license-area {
    grid-area: license;
    background-color: rgb(var(--etg_accent-color));
    width: 100%;
    padding: 0 1rem;
    margin-top: 15px;
    font-size: 0.8rem;
    text-align: left;
    border-left: 2px solid rgb(var(--etg_border-color));
    box-sizing: border-box;
}

a,
#side-bar a {
    color: rgb(var(--etg_link-color));

    &:visited {
        color: rgb(var(--etg_link-visited-color));
    }

    &:hover {
        color: rgb(var(--etg_link-hover-color));
    }
}

tt {
    --calt: 0;
    hyphens: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    &,
    & * {
        font-family: var(--etg_mono-font);
        font-variation-settings: "wght" var(--mono-wght), "slnt" var(--slnt), "CASL" var(--CASL), "CRSV" var(--CRSV),
            "MONO" var(--MONO);
    }
}

#side-bar {
    background-color: rgba(var(--etg_bg-color), 0.1);

    .side-block {
        border-radius: 4px;
        box-shadow: none;
        border: 2px solid rgb(var(--etg_border-color));
        background-color: rgb(var(--etg_bg-color));

        .heading {
            color: rgb(var(--etg_text-color));
            border: none;
            padding: 0;
            font-size: 0.85rem;
        }

        .menu-item {
            color: rgb(var(--etg_link-color));
        }
    }
}

#main-content {
    max-width: 100%;
    box-shadow: none;
    padding: 1rem;
    height: auto;
}

.unlock,
.trivia {
    position: relative;
    display: flow-root;
    margin: 3rem 0 1rem;
    background-color: #bebab9;
    padding: 0.5rem;
    border-radius: 0 0 8px 8px;

    img {
        max-height: 2rem;
        min-height: 1rem;
        image-rendering: pixelated;
    }

    &::before {
        --wght: 700;
        position: absolute;
        top: -2.4rem;
        left: 0;
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 8px 8px 0 0;
    }
}

.unlock::before {
    content: "解锁方法";
    background-color: #343146;
}

.trivia::before {
    content: "玩梗地牢";
    background-color: #92918f;
}

@each $name, $pic in (shell, Money), (shellx5, Money_5), (shellx50, Golden_Shell), (half-heart, Half_Heart),
    (heart, Heart), (armor, Armor), (blank, Blank), (key, Key), (cell-key, Cell_Key), (rat-key, Ratkey), (ammo, Ammo),
    (spread-ammo, Spread_Ammo), (hegemony-credit, Hegemony_Credit)
{
    a[href="/pickups##{$name}"]::before {
        content: url("https://7bye.com/hoah/i/etg/pickup/#{$pic}.png");
    }
}
