/* 
    Share Future Community Theme
    [2023 Wikidot Theme]
    Based on Sigma+
        By hoah2333, Agent Phage
*/

:root {
    --header-title: "";
    --header-subtitle: "";
    --sp_header-logo: none;
    --sp_header-height: 15rem;

    --bg-color-1: #76340f;
    --bg-color-1-trans-1: #76340f33;
    --bg-color-1-trans-2: #76340f77;
    --bg-color-1-trans-3: #76340faa;
    --bg-color-2: #4090ee;
    --bg-color-2-trans-1: #4090ee33;
    --bg-color-2-trans-2: #4090ee77;
    --bg-color-2-trans-3: #4090eeaa;
    --bg-color-3: #c67513;
    --bg-color-3-trans-1: #c6751333;
    --bg-color-3-trans-2: #c6751377;
    --bg-color-3-trans-3: #c67513aa;
    --bg-color-3-trans-4: #c67513dd;
    --bg-color-gradient-top: #d9851a;
    --bg-color-gradient-bottom: #b1630c;
    --bg-color-4: #deb077;

    --link-color-1: #0a82a8;
    --link-color-2: #771515;
    --link-color-3: #cb2323;
    --link-color-4: #b06307;

    --white-color: #eeeeee;
    --black-color: #111111;
    --black-color-trans-1: #11111133;
    --black-color-trans-2: #11111177;

    --sp_top-bar-gradient-top-color: var(--bg-color-gradient-top);
    --sp_top-bar-gradient-bottom-color: var(--bg-color-gradient-bottom);
    --sp_top-bar-link-color: var(--white-color);
    --sp_top-bar-link-hover-color: var(--white-color);
    --sp_top-bar-link-hover-background: var(--bg-color-1-trans-2);

    --sp_dropdown-background: var(--bg-color-3-trans-4);
    --sp_dropdown-link-border: 0.05rem solid var(--black-color);

    --sp_rate-module-text-color: var(--white-color);
    --sp_rate-module-background: var(--bg-color-3);
    --sp_rate-module-sub-color: var(--white-color);

    --sp_tab-text-color: var(--sfc_text-color);
    --sp_tab-background: var(--bg-color-3-trans-2);
    --sp_tab-border-color: var(--sfc_border-color);
    --sp_tab-hover-text-color: var(--sp_tab-text-color);
    --sp_tab-hover-background: var(--bg-color-1-trans-2);
    --sp_tab-hover-border-color: var(--sp_tab-border-color);
    --sp_tab-selected-text-color: var(--white-color);
    --sp_tab-selected-background: var(--bg-color-1);
    --sp_tab-selected-border-color: var(--sp_tab-border-color);

    --sp_hovertip-background: var(--bg-color-3-trans-4);

    --sfc_text-color: var(--black-color);

    --sfc_link-color: var(--link-color-3);
    --sfc_link-newpage-color: var(--link-color-4);
    --sfc_link-visited-color: var(--link-color-2);

    --sfc_border-color: var(--link-color-2);

    --sfc_account-options-color: var(--white-color);
    --sfc_account-options-border-color: var(--bg-color-2);

    --sfc_header-dropdown-background: var(--bg-color-2-trans-2);
    --sfc_header-dropdown-link-color: var(--sp_top-bar-link-color);
    --sfc_header-dropdown-link-hover-background: var(--bg-color-2-trans-2);

    --sfc_side-bar-background: var(--bg-color-3-trans-2);
    --sfc_side-bar-mobile-background: var(--bg-color-3-trans-1);
    --sfc_side-bar-link-color: var(--sfc_link-visited-color);
    --sfc_side-bar-link-visited-color: var(--sfc_link-visited-color);
    --sfc_side-bar-link-newpage-color: var(--sfc_link-color);
    --sfc_side-bar-border-color: var(--sfc_boder-color);
    --sfc_side-bar-heading-color: var(--sfc_link-color);

    --sfc_modalbox-fader-background: var(--black-color-trans-2);
    --sfc_modalbox-background: var(--bg-color-4);

    --sfc_transition-time: 0.2s;
    --sfc_transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --sfc_transition: var(--sfc_transition-time) var(--sfc_transition-function);
}

#header {
    background-image: url("https://7bye.com/hoah/i/2023/05/03/x42klo.jpg");
    background-position: center center;
    grid-template-areas:
        ". login login search"
        ". . . ."
        ". h1 . ."
        ". h2 . ."
        ". . . ."
        "top-bar top-bar top-bar top-bar";

    #search-top-box {
        left: -2rem;
        align-items: flex-end;

        #search-top-box-input {
            display: none;
        }

        .btn {
            border-radius: 50%;
            font-size: 0;
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23ddd%22%20d%3D%22M505%20442.7L405.3%20343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3%2044-79.7%2044-128C416%2093.1%20322.9%200%20208%200S0%2093.1%200%20208s93.1%20208%20208%20208c48.3%200%2092.7-16.4%20128-44v16.3c0%206.4%202.5%2012.5%207%2017l99.7%2099.7c9.4%209.4%2024.6%209.4%2033.9%200l28.3-28.3c9.4-9.4%209.4-24.6.1-34zM208%20336c-70.7%200-128-57.2-128-128%200-70.7%2057.2-128%20128-128%2070.7%200%20128%2057.2%20128%20128%200%2070.7-57.2%20128-128%20128z%22%2F%3E%3C%2Fsvg%3E");
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 0;
            border: 2px solid var(--sfc_account-options-border-color);
            height: 1.75rem;
            width: 1.75rem;
        }
    }

    #login-status {
        font-size: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2.5rem;

        .printuser a {
            font-size: 0.9rem;

            img {
                background-image: url("") !important;
                padding: 0;
                height: 1.5rem;
                width: 1.5rem;
                border: 2px solid var(--sfc_account-options-border-color);
                border-radius: 50%;
            }
        }

        #account-topbutton {
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--sfc_header-dropdown-link-color);
            border: 2px solid var(--sfc_account-options-border-color);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            padding: 0;
            margin-left: 0.5rem;
        }

        #account-options {
            font-size: 0.8rem;
            right: -2.5rem;
            border: 2px solid var(--sfc_account-options-border-color);
            background-color: var(--sfc_header-dropdown-background);
            width: var(--sp_dropdown-width);
            transition: opacity var(--sfc_transition);

            ul li {
                transition: background-color var(--sfc_transition);

                &:hover {
                    background-color: var(--sfc_header-dropdown-link-hover-background);
                }

                a {
                    color: var(--sfc_header-dropdown-link-color);
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #top-bar {
        :is(.top-bar, .mobile-top-bar) {
            ul li ul {
                backdrop-filter: blur(2px);
            }

            > ul > li {
                a:hover,
                &:is(.sfhover, :hover, :focus-within) > a {
                    transition: background-color var(--sfc_transition);
                }
            }
        }

        .open-menu a {
            border-radius: 0;
            border-color: var(--sfc_border-color);
            background-color: var(--bg-color-1);
            color: var(--white-color);
        }
    }
}

body {
    color: var(--sfc_text-color);
    background-color: var(--bg-color-3-trans-1);
}

#interwiki,
#side-bar {
    a,
    a:visited {
        color: var(--sfc_side-bar-link-color);
    }

    a.newpage {
        color: var(--sfc_side-bar-link-newpage-color);
    }

    .side-block {
        background-color: var(--sfc_side-bar-background);
        border-color: var(--sfc_border-color);
        border-radius: 0;
        box-shadow: none;

        &[style*="background-color"] {
            background-color: var(--sfc_side-bar-background) !important;
        }

        .heading {
            color: var(--sfc_side-bar-heading-color);
            border-bottom-color: var(--sfc_side-bar-heading-color);
        }

        div.menu-item {
            > img {
                filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><defs><filter id="filter" color-interpolation-filters="sRGB"><feColorMatrix type="matrix" values="0 0 0 0 0.4666 0 0 0 0 0.0823 0 0 0 0 0.0823 0 0 0 1 0"/></filter></defs></svg>#filter');
            }
        }
    }

    @media (max-width: 767px) {
        & {
            background-color: var(--bg-color-4);

            .side-block {
                background-color: var(--sfc_side-bar-mobile-background);

                &[style*="background-color"] {
                    background-color: var(--sfc_side-bar-mobile-background) !important;
                }
            }
        }

        &:target {
            border-color: var(--sfc_border-color);

            .close-menu {
                background-color: var(--black-color-trans-1);
                backdrop-filter: blur(1px);
            }
        }
    }
}

a {
    color: var(--sfc_link-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--sfc_transition);

    &:hover {
        text-decoration-color: inherit;
    }
}

a:visited {
    color: var(--sfc_link-visited-color);
}

a.newpage {
    color: var(--sfc_link-newpage-color);
}

hr {
    background-color: var(--sfc_link-visited-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--link-color-2);
}

#page-title,
.meta-title {
    color: var(--sfc_link-visited-color);
}

#page-title {
    border-color: var(--sfc_link-visited-color);
}

#page-content {
    @at-root {
        .page-rate-widget-box {
            border-radius: 0;

            :is(.rateup, .ratedown) a {
                transition: background-color var(--sfc_transition), color var(--sfc_transition);
            }
        }

        .creditRate .rate-box-with-credit-button {
            border-radius: 0;
        }
    }

    #u-credit-view {
        .fader {
            background-color: var(--sfc_modalbox-fader-background);
            backdrop-filter: blur(2px);
        }

        .modalcontainer .modalbox {
            background-image: none;
            background-color: var(--sfc_modalbox-background);
        }
    }

    .scp-image-block {
        border-color: var(--sfc_border-color);
        box-shadow: none;

        .scp-image-caption {
            background-color: var(--bg-color-3-trans-2);
            border-top-color: var(--sfc_border-color);
        }
    }

    .yui-navset.yui-navset-top {
        .yui-nav {
            justify-content: space-between;
            border: 0 0 1px solid var(--sfc_border-color);

            li {
                flex-grow: 1;

                a {
                    transition: background-color var(--sfc_transition), color var(--sfc_transition);
                }
            }
        }

        .yui-content {
            border-color: var(--sfc_border-color);
            background-color: var(--bg-color-3-trans-1);
        }
    }

    @at-root {
        blockquote,
        div.blockquote {
            border: 1px solid var(--sfc_border-color);
            background: var(--bg-color-3-trans-1);
        }
    }

    table.wiki-content-table {
        th {
            border-color: var(--sfc_border-color);
            background-color: var(--bg-color-1);
            color: var(--white-color);

            &:where(:not(:last-child)) {
                border-right-color: var(--white-color);
            }
        }

        td {
            border-color: var(--sfc_border-color);
        }

        tr:nth-of-type(odd) {
            background-color: var(--bg-color-3-trans-2);
        }

        tr:nth-of-type(even) {
            background-color: var(--bg-color-3-trans-1);
        }
    }

    #toc {
        border: 1px solid var(--sfc_border-color);
        background-color: var(--bg-color-3-trans-1);
    }

    div.wiki-note {
        border-color: var(--sfc_border-color);
        background-color: var(--bg-color-3-trans-1);
    }

    .code {
        border: 1px solid var(--sfc_border-color);
        background-color: var(--bg-color-3-trans-1);
    }
}

.page-options-bottom {
    line-height: 100%;
}

#action-area {
    .page-source {
        border: 1px solid var(--sfc_border-color);
        background-color: var(--bg-color-3-trans-1);
    }
}

.hovertip {
    color: var(--white-color);
    backdrop-filter: blur(2px);
}
