.trigger {
    display: none;

    &:target + .preview-container {
        display: block;
    }
}

.preview-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000055;

    > a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .infoblock {
        position: relative;
        margin: 0 auto;
        top: 50%;
        width: fit-content;
        height: max-content;
        background-color: #f1f1f1;
        display: grid;
        justify-items: center;
        grid-template: auto auto auto / auto;
        translate: 0 -50%;

        .infobox-container {
            float: initial;
            width: 100%;
            margin: 0;
        }

        .tips {
            padding: 1rem;

            &[data-title*="{$"] {
                display: none;
            }
        }

        > a[href="/unix"] {
            display: none;
        }
    }
}
