/*
    Oblivion Theme
    [2023 Wikidot Theme]
    by hoah2333
        Based on Bedrock theme by EstrellaYoshte
*/

/* Import Bedrock theme */
@import url("https://basalt-team.github.io/Basalt/normalize-min.css");
@import url("https://basalt-team.github.io/Basalt/basalt-bedrock-min.css");

/* ----------------- */
/* --- Variables --- */
/* ----------------- */

:root {
    --basalt-primary-color: 220, 218, 219;
    --basalt-secondary-color: 108, 168, 224;
    --basalt-tertiary-color: 25, 0, 66;
    --basalt-undertone: 61, 91, 173;
    --basalt-bright-element-color: var(--basalt-undertone);
    --basalt-dark-element-color: 29, 20, 106;
    --basalt-positive-color: 26, 240, 168;

    --header-logo: url("https://7bye.com/hoah/i/2023/05/25/3qtn.png");
    --header-title: "Oblivion       \AOverride";
    --header-subtitle: "Welcome to Oblivion Override official wiki";
    --header-subtitle-color: var(--basalt-main-text-color);
    --title-size: 3.5rem;
    --subtitle-size: 1rem;
    --base-header-height: calc((var(--title-size) * 2 + var(--subtitle-size)) *1.325 + 1rem + var(--search-button-width));
    --header-border-width: 0px;
    --header-mobile-height: var(--header-desktop-height);
    --search-icon-color: var(--basalt-main-text-color);
    --search-background-color: var(--basalt-UI-dark-palette);

    --side-bar-button-width: 1rem;

    --main-content-background-color: 5, 6, 10;

    --bottom-area-text-color: var(--basalt-light-text-color);
    --bottom-area-background-color: var(--basalt-dark-element-color);
    --license-area-divider-color: var(--basalt-primary-color);

    --scrollbar-thumb-color: var(--basalt-bright-element-color);
    --scrollbar-track-color: var(--basalt-dark-element-color);

    --edit-area-toolbar-background-color: var(--basalt-secondary-color);
}

/* -------------- */
/* --- Header --- */
/* -------------- */

#header {
    position: relative;
    background-color: transparent;
    grid-template-areas:
        "user . h-link h-link"
        ". . h-link h-link"
        ". . . search";
    grid-template-columns: var(--user-button-width) 1fr max-content var(--search-button-width);
    grid-template-rows: var(--user-button-width) max-content var(--search-button-width);
}

#header h1 a {
    padding-right: calc(var(--base-header-height) * .05);
}

#header h1 a::before {
    display: none;
}

#header h1 a span {
    align-items: flex-end;
    text-align: right;
}

#header h1 a span::before {
    white-space: pre;
    color: transparent;
    background-image: url("https://7bye.com/hoah/i/2023/05/25/39d4.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* --- Topbar --- */
/* Not used for now */

#top-bar {
    display: none;
}

/* --- Login status --- */

div#account-options {
    inset-inline-start: 0;
    inset-inline-end: unset;
}

#account-options,
:where(#login-status)> :is(.login-status-create-account, .login-status-sign-in) {
    clip-path: inset(0 100% 0 0);
}

div#account-options>ul>li>a::before,
#login-status a:is(.login-status-create-account, .login-status-sign-in)::before {
    right: initial;
    left: 0;
}

#login-status a:is(.login-status-create-account, .login-status-sign-in) {
    inset-inline-start: 0;
    inset-inline-end: unset;
}

#login-status a.login-status-create-account {
    inset-inline-start: calc(var(--login-status-width)/2);
    inset-inline-end: unset;
}

/* --- Search --- */

#search-top-box {
    top: 2rem;
}

#search-top-box::before {
    background-color: rgb(var(--search-background-color));
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#side-bar {
    margin-top: 0;
    height: 100vh;
}

#side-bar::before {
    display: none;
}

#side-bar::after {
    top: calc(50vh - 6.4rem);
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("https://scp-wiki.wdfiles.com/local--files/component%3Acollapsible-sidebar/sidebar-tab.svg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: left var(--side-bar-transition);
}

#side-bar:is(:hover, :focus-within)::after {
    left: -5rem;
    background-color: transparent;
}

#side-bar .side-block .menu-item.subtitle a {
    background-color: rgba(var(--basalt-UI-dark-palette), 0.2);
    padding: 0 0.575rem;
}

/* ------------------------------- */
/* ---- Footer & License area ---- */
/* ------------------------------- */

#footer {
    border-top: .125rem solid var(--general-border-color);
}


/* ------------- */
/* --- Basic --- */
/* ------------- */

body {
    background-color: rgb(var(--main-content-background-color));
    background-image: url("https://7bye.com/hoah/i/2023/05/25/4bmm.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
}

#main-content {
    padding: 1rem 2rem 2rem 2rem;
    background-color: rgba(var(--basalt-primary-color), var(--basalt-UI-opacity));
}

:where(#action-area) a.action-area-close {
    --button-text-color: var(--basalt-main-text-color);
}

/*---------------*/
/*--- EDITBOX ---*/
/*---------------*/

/* Title area */
form#new-thread-form table.form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    margin: 0 !important;
    font-size: calc(var(--true-font-size)*1.25);
}

form#new-thread-form table.form tbody,
form#new-thread-form table.form tr {
    display: contents;
}

form#new-thread-form table.form td {
    display: block;
    flex-grow: 1;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

form#new-thread-form table.form td:nth-of-type(1) {
    font-size: calc(var(--true-font-size)*0.875);
    color: rgb(var(--basalt-main-text-color));
    transition: color 0.175s ease-out;
}

form#new-thread-form table.form tr:focus-within td:nth-of-type(1) {
    color: rgb(var(--basalt-focus-color));
}

form#new-thread-form table.form td:nth-of-type(2) {
    position: relative;
    flex-grow: 99;
}

form#new-thread-form table.form tr:nth-of-type(2) td:nth-of-type(1) {
    width: 100%;
}

form#new-thread-form table.form td:nth-of-type(1)::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: 0;
    background-color: rgb(var(--basalt-focus-color));
    order: 1;
    transition: width 0.175s ease-out;
}

form#new-thread-form table.form tr:focus-within td:nth-of-type(1)::after {
    width: 100%;
}

form#new-thread-form table.form tr:nth-of-type(1) td input.text {
    width: 100%;
    padding: 0.125ch 0.325ch;
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: var(--header-font);
    background-color: rgb(var(--edit-area-ancillary-background-color));
}

form#new-thread-form table.form td input.text:focus-visible,
#thread-description:focus-visible {
    outline: none;
}

#thread-description {
    width: 100% !important;
    min-height: calc(var(--true-font-size)*6.5);
    font-size: calc(var(--true-font-size)*0.875);
    padding: 1ch 0.875ch;
    box-sizing: border-box;
    font-weight: initial;
    background-color: rgb(var(--edit-area-ancillary-background-color));
    border: none;
    flex-grow: 1;
    order: 2;
}

form#new-thread-form table.form tr td>div.sub {
    position: absolute;
    inset-block-end: 0.125ch;
    inset-inline-end: 1.75ch;
    font-weight: initial;
    color: rgb(var(--basalt-sub-text-color));
    font-size: 0.8125em;
    text-align: right;
}

/* Toolbar area */
#post-edit-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--edit-area-toolbar-icon-size)/4);
    background-color: rgb(var(--edit-area-toolbar-background-color));
    border: solid var(--edit-area-border-width) rgb(var(--edit-area-border-color));
    border-bottom: 0;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

#post-edit-panel>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: calc(var(--edit-area-toolbar-icon-size)/4);
}

#post-edit-panel>div>ul {
    display: contents;
}

#post-edit-panel>div>ul>li {
    float: none;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Edit area */
#post-edit {
    min-width: inherit;
    min-height: calc(var(--true-font-size)*8);
    font-family: var(--body-font);
    padding: 1ch 0.5ch;
    color: rgb(var(--basalt-main-text-color));
    background-color: rgb(var(--edit-area-main-background-color));
    border: solid var(--edit-area-border-width) rgb(var(--edit-area-border-color));
    box-sizing: border-box;
    transition: border-color 0.125s linear;
}

#post-edit:focus-visible {
    outline: none;
    border-color: rgb(var(--basalt-focus-color));
}

/* ----------------- */
/* ----- FORUM ----- */
/* ----------------- */
#page-content .forum-group {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

#page-content .forum-group div.head {
    background-color: rgb(var(--basalt-focus-color));
    color: rgb(var(--basalt-light-text-color));
}

#page-content .forum-group table {
    margin: 0;
}

#page-content .forum-new-thread-box .description {
    border: solid var(--blockquote-border-width) rgb(var(--blockquote-border-color));
    margin: .5rem 0;
    padding: .625rem .75rem;
    background-color: rgb(var(--blockquote-background-color));
}

#page-content .forum-new-thread-box .description .statistics {
    margin: 0;
    padding: 0 .25rem;
    font-size: .875em;
    color: rgb(var(--basalt-main-text-color));
}

#page-content .forum-thread-box .description-block .statistics {
    color: rgb(var(--basalt-main-text-color));
}

/* ---------------- */
/* --- Comments --- */
/* ---------------- */

form:is(#edit-page-form, #edit-post-form, #new-post-form, #new-thread-form)>div:nth-of-type(2) {
    min-width: 100%;
}

#thread-container .post .long .head>.info .odate {
    display: inline-flex;
    pointer-events: none;
}

:is(#thread-container, #message-preview) .post .long>.signature {
    display: none;
}

/* ------------------------ */
/* --- Comment Textarea --- */
/* ------------------------ */

#edit-post-form,
#new-thread-form {
    display: grid;
    column-gap: .5rem;
    grid-template-columns: max-content 1fr 1fr;
    align-items: center;
}

:is(#edit-post-form, #new-thread-form)>br {
    display: none;
}

:is(#edit-post-form, #new-thread-form)>* {
    grid-column: 1/4;
}

:is(#edit-post-form, #new-thread-form) .change-textarea-size {
    grid-column: 3/4;
}

#edit-post-form .edit-help-34 {
    grid-column: 1/3;
    grid-row: 5/6;
}

#new-thread-form .edit-help-34 {
    grid-column: 1/3;
    grid-row: 4/5;
}

:is(#new-post-form, #edit-post-form, #new-thread-form) div.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .325rem;
    padding: 0;
    margin: .325rem 0;
}

:is(#new-post-form, #edit-post-form, #new-thread-form) div.buttons>input {
    flex-grow: 1;
    flex-basis: 14.25em;
}