/*
    Oblivion Theme
    [2023 Wikidot Theme]
    by hoah2333
        Based on Bedrock theme by EstrellaYoshte
*/

/* Import Bedrock theme */
@import url("https://basalt-team.github.io/Basalt/normalize-min.css");
@import url("https://basalt-team.github.io/Basalt/basalt-bedrock-min.css");

/* ----------------- */
/* --- Variables --- */
/* ----------------- */

:root {
    --basalt-primary-color: 220, 218, 219;
    --basalt-secondary-color: 108, 198, 244;
    --basalt-tertiary-color: 25, 0, 66;
    --basalt-undertone: 61, 91, 173;
    --basalt-bright-element-color: var(--basalt-undertone);
    --basalt-dark-element-color: 29, 0, 66;

    --header-logo: url("https://7bye.com/hoah/i/2023/05/25/3qtn.png");
    --header-title: "Oblivion       \AOverride";
    --header-subtitle: "Welcome to Oblivion Override official wiki";
    --header-subtitle-color: var(--basalt-main-text-color);
    --title-size: 3.5rem;
    --subtitle-size: 1rem;
    --base-header-height: calc((var(--title-size) * 2 + var(--subtitle-size)) *1.325 + 1rem + var(--search-button-width));
    --header-border-width: 0px;
    --header-mobile-height: var(--header-desktop-height);
    --search-icon-color: var(--basalt-main-text-color);
    --search-background-color: var(--basalt-UI-dark-palette);

    --side-bar-button-width: 1rem;

    --main-content-background-color: 5, 6, 10;

    --bottom-area-text-color: var(--basalt-light-text-color);
    --bottom-area-background-color: var(--basalt-dark-element-color);
    --license-area-divider-color: var(--basalt-primary-color);

    --edit-area-toolbar-background-color: var(--basalt-secondary-color);
}

/* -------------- */
/* --- Header --- */
/* -------------- */

#header {
    position: relative;
    background-color: transparent;
    grid-template-areas:
        "user . h-link h-link"
        ". . h-link h-link"
        ". . . search";
    grid-template-columns: var(--user-button-width) 1fr max-content var(--search-button-width);
    grid-template-rows: var(--user-button-width) max-content var(--search-button-width);
}

#header h1 a {
    padding-right: calc(var(--base-header-height) * .05);
}

#header h1 a::before {
    display: none;
}

#header h1 a span {
    align-items: flex-end;
    text-align: right;
}

#header h1 a span::before {
    white-space: pre;
    color: transparent;
    background-image: url("https://7bye.com/hoah/i/2023/05/25/39d4.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* --- Topbar --- */
/* Not used for now */

#top-bar {
    display: none;
}

/* --- Login status --- */

div#account-options {
    inset-inline-start: 0;
    inset-inline-end: unset;
}

#account-options,
:where(#login-status)> :is(.login-status-create-account, .login-status-sign-in) {
    clip-path: inset(0 100% 0 0);
}

div#account-options>ul>li>a::before,
#login-status a:is(.login-status-create-account, .login-status-sign-in)::before {
    right: initial;
    left: 0;
}

#login-status a:is(.login-status-create-account, .login-status-sign-in) {
    inset-inline-start: 0;
    inset-inline-end: unset;
}

#login-status a.login-status-create-account {
    inset-inline-start: calc(var(--login-status-width)/2);
    inset-inline-end: unset;
}

/* --- Search --- */

#search-top-box {
    top: 2rem;
}

#search-top-box::before {
    background-color: rgb(var(--search-background-color));
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#side-bar {
    margin-top: 0;
    height: 100vh;
}

#side-bar::before {
    display: none;
}

#side-bar::after {
    top: calc(50vh - 6.4rem);
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("https://scp-wiki.wdfiles.com/local--files/component%3Acollapsible-sidebar/sidebar-tab.svg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: left var(--side-bar-transition);
}

#side-bar:is(:hover, :focus-within)::after {
    left: -5rem;
    background-color: transparent;
}

#side-bar .side-block .menu-item.subtitle a {
    background-color: rgba(var(--basalt-UI-dark-palette), 0.2);
    padding: 0 0.575rem;
}

/* ------------------------------- */
/* ---- Footer & License area ---- */
/* ------------------------------- */

#footer {
    border-top: .125rem solid var(--general-border-color);
}


/* ------------- */
/* --- Basic --- */
/* ------------- */

body {
    background-color: rgb(var(--main-content-background-color));
    background-image: url("https://7bye.com/hoah/i/2023/05/25/4bmm.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
}

#main-content {
    padding: 1rem 2rem 2rem 2rem;
    background-color: rgba(var(--basalt-primary-color), var(--basalt-UI-opacity));
}

:where(#action-area) a.action-area-close {
    --button-text-color: var(--basalt-main-text-color);
}